/* Auth Common Css */
/* Auth Form Input Containers */
.form__input-container {
  width: 100%;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  cursor: pointer;
  background-color: var(--input-bg);
  border: 1px solid var(--accent-blue);
  border-radius: 1rem;
  overflow: hidden;
}

.form__input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__input-container input {
  padding: 0.8rem;

  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background-color: inherit;
}

.input-container__icon {
  font-size: 2.5rem !important;
  color: var(--accent-blue);
  background-color: inherit;
}

.--auth-error {
  width: 80%;
  color: var(--error);
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  border-top: 1px solid var(--accent-blue);
}

/* Auth Btn */
.--auth-btn {
  width: 90%;
  padding: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  border: 1px solid var(--accent-blue);
  background-color: inherit;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: var(--font-heading);
  background-color: var(--interactive-blue);
  transition: all 0.3s ease-in-out;
}

/* Auth Links */
.--auth-link {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem;
  color: var(--interactive-blue);
  border: 1px solid var(--accent-blue);
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

/* Hovers */
.--auth-btn:hover {
  background-color: var(--orange);
}

.--auth-link:hover {
  background-color: var(--orange-light);
}
